a{color: black; text-decoration-line: none;}
body{width: 1280px;
    text-align: center;
}

.kko{
    width: 88px;
    height: 27px;
   
}
.main{
    width: 800px;
    border: 1px solid gray;
    text-align: center;
}
#un{text-align: right;}
input{
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid gray;
}
.go{
    background-color: yellow; 
    width: 300px; height: 35px;
}
.gg{
    border: 1px solid gray;
    background-color: gray;
    width: 300px; height: 35px;
}
.gg, .go{border-radius: 10px;}
    
    