

.feed{ /*게시물 전체 구역*/
    border: 1px solid  rgb(212, 121, 121);
    border-radius: 20px;
    padding: 15px;
    margin: 30px 0px;
}
.feed img{
    width: 100%; /*부모가 350px 이니까 그거에 맞춰서 바뀜*/
    height: 300px;
    /* 고정사이즈 사용시 : 원본 사진이 깨질 수 있음 */
    /*object-fit: cover; 비율유지*/
    border-radius: 20px;
}

.date{ /*게시물, 댓글 작성날짜*/
    font-size: 11px;
    padding: 10px 10px;
}
.contentBox > .content{/*게시물 내용*/
    font-size: 13px;
    margin: 10px 0px;
}
.btnBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.btnBox button{
    background-color: white;
    border-radius:20px ;
    border: 1px solid #e8e8e8;
    padding: 5px; width: 50px;
    font-size: 13px;
}
.replyBox{
    border-top:1px solid #e8e8e8 ;
    padding-top: 20px; margin-top: 20xp;
}
.reply{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}